---
import { Image } from 'astro:assets';

export interface Props {
  title: string;
  url: string;
  description?: string;
  image_src?: string;
  tags?: string[];
}

const {
  title,
  url,
  description,
  image,
  tags = []
} = Astro.props;

const tagLogos: Record<string, string> = {
  C: '/logos/c.svg',
  'C++': '/logos/c++.svg',
  Zig: '/logos/zig.svg',
  HTML: '/logos/html.svg',
  CSS: '/logos/css.svg',
  JS: '/logos/js.svg',
  TS: '/logos/ts.svg',
  Rust: '/logos/rust.svg',
  Nix: '/logos/nix.svg',
  WASM: '/logos/wasm.svg',
  QEMU: '/logos/qemu.svg',
  Git: '/logos/git.svg'
};
---

<div class="flex flex-col overflow-hidden bg-[var(--colour-secondary-light)]
  shadow-sm hover:shadow-lg transition-shadow duration-200"
>
  {image && (
    <a href={url} class="article-card-image">
      <img src={image} alt={title} loading="lazy" class="w-full h-48 object-cover"/>
    </a>
  )}

  <div class="p-4 flex flex-col flex-1">
    <h3 class="text-xl font-semibold mb-2">
      <a href={url} class="hover:text-[var(--text-colour-highlight)] transition-colors">
        <h2>{title}<h2>
      </a>
    </h3>

    {description && <p class="text-[var(--text-colour-subtle)] mb-4">{description}</p>}

    {tags && tags.length > 0 && (
      <div class="flex flex-wrap gap-2 mt-auto">
        {tags.map((tag) => (
          <span class="flex items-center gap-1 px-2 py-1 bg-[var(--colour-primary-subtle)]
            text-[var(--colour-on-primary-subtle)] rounded text-sm"
            title={tag}
          >
            {tagLogos[tag] ? (
              <span class="flex items-center gap-1">
                <img src={tagLogos[tag]} alt={tag} class="w-4 h-4" />
                <span>{tag}</span>
              </span>
            ) : (
              <span>{tag}</span>
            )}


          </span>
        ))}
      </div>
    )}
  </div>
</div>

<!--             {tagLogos[tag] ? (
              <img src={tagLogos[tag]} alt={tag} class="w-4 h-4"/>
            ) : (
              {tag}
            )} -->
