---
const {
  title,
  href,
  description,
  image,
} = Astro.props;
import "../styles/global.css"
---

<div class="projectCard">
  <div class="projectInfo">
    <div class="hdr">
      <a class="hdr" href={href}>
        <h1>{title}</h1>
      </a>
    </div>

    <p>{description}</p>
  </div>

  {image && (
    <div class="card">
      <a href={href}>
        <img
          src={image}
          alt={`${title} logo`}
          class="imageIn"
          width="128"
          height="128"
        />
      </a>
    </div>
  )}
</div>
